<!DOCTYPE html>
<html lang="en">
  <head>
    <title> actors </title>
    <link rel="stylesheet" href="/style.css">
  </head>

  <body>
    <h2>All Actors</h2>
    <a href="/movies">Go to the Movies page</a>

    <ul>
      <%@actors.each do |actor|%>
         <li><a href="/actors/<%=actor['id']%>"><%= actor['name']%></a></li>
      <%end%>
    </ul>


  </body>
</html>
